<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        var dataSet = null;
        var dataTable = null;
         function Load() {
                $.ajax({
                url: '/getMainMasters',
                type: 'GET',
                success: function (response) {
                    dataSet = JSON.parse(response);
                    console.log(dataSet)
                    dataTable = $('#example').DataTable( {
                                data: dataSet,
                                destroy: true,
                                columns: [
                                    { title: "id" },
                                    { title: "Type" },
                                    { title: "Public" },
                                    { title: "Created At" },
                                    { title: "Actor" },
                                    { title: "Repo" },
                                    { title: "Org" },
                                    { title: "Ref" },
                                    { title: "Ref_type" },
                                    { title: "Pusher_Type" }
                                ]
                            } );
                },
                error: function (error) {
                    console.log(error);
                }
            });

        }
       function setData() {
           $.ajax({
                url: '/setMainMasters',
                type: 'GET',
                success: function (response) {
                    document.getElementById("cnt").innerHTML = response;
                    if(dataTable!=null||dataTable!=undefined)
                    dataTable.destroy();
                    Load();
                    setTimeout(function(){ window.reload(); }, 60000);
                },
                error: function (error) {
                    console.log(error);
                }
            });
       }
    </script>
 
</head>
 
<body onload="setData()">
    <div class="container-fluid">
        <table id="example" class="display" cellspacing="0" width="100%">

    </table>
    <footer class="footer">
        <p id="cnt"></p>
    </footer>
    </div>
</body>
 
</html>